@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
header {
  background: linear-gradient(45deg, #123B40, #327373);
  width: 100%;
  background-size: 400% 400%;
  animation: cambiar 5s ease infinite;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
header nav {
  margin-right: 2%;
  display: flex;
}
header nav ul li a {
  color: #123B40;
  padding: 2%;
  align-items: center;
  margin: 0 10px;
}
header nav .nav-item a {
  color: aliceblue;
}

footer {
  background-color: #123B40;
  color: azure;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
footer ul li {
  padding: 3vh;
  display: inline-block;
  cursor: pointer;
  width: 1vh;
}
footer ul li img {
  width: 6vh;
  height: 6vh;
}
footer p a {
  color: #123B40;
  background-color: #81DEAB;
  border: #D9AB73 solid 5px;
  border-radius: 2vh;
  align-content: center;
  padding: 2vh;
  margin: 15px;
}

.whatsapp__image {
  width: 10vh;
  position: fixed;
  bottom: 0%;
  right: 2vh;
  z-index: 100;
}

.lista, .botones, .whatsapp {
  width: 33%;
}

.lista {
  display: flex;
}

.botones__botom {
  display: flex;
  width: 100%;
  justify-content: center;
}

.grid-home {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.imagenes-home img {
  width: 100%;
  height: 500px;
}

.grid-home-item {
  border: #123B40 solid 2px;
}

.intro__empresa {
  background: #123B40;
  color: #D9AB73;
  display: flex;
  justify-content: centrer;
  align-items: center;
  align-content: center;
}
.intro__empresa p {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  border-bottom: solid 1px red;
  font-size: large;
}

.intro__mapa {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  border-bottom: solid 1px red;
  gap: 40px;
}

.texto__mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productos__piedras__naturales, .productos__piedras__sinteticas {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #123B40;
}

.Productos__Imagen {
  width: 30vw;
  height: 30vh;
}

.marmoles, .travertinos, .dekton, .neolith {
  display: flex;
  flex-direction: column;
  align-items: align-items center;
  height: auto;
  width: auto;
  border: #123B40 solid 1px;
  gap: 20px;
  margin: 2%;
  padding: 2%;
  background-color: #878787;
}

.selectores {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.filtros {
  border: #123B40 solid 2px;
  background-color: azure;
  padding: 0 2%;
}

.servicio {
  width: 90%;
  display: flex;
  align-items: center;
  border: #123B40 2px solid;
  align-content: center;
  margin: 5%;
}
.servicio img {
  width: 40%;
  height: 100%;
  display: flex;
}
.servicio p {
  width: 50%;
  display: flex;
  padding: 5vw;
}

.datos__de__contacto {
  height: 35vh;
}
.datos__de__contacto p {
  font-weight: 700;
  width: 300px;
  border: #123B40 solid 2px;
  text-align: end;
  color: #D9AB73;
  background-color: #327373;
  font-family: "Cinzel";
  margin: 10px;
}

.staff {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
  gap: 10px;
}

.staff__miembros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #123B40 solid 2px;
}
.staff__miembros img {
  width: 140px;
  height: 140px;
  border: #123B40 solid 5px;
  object-fit: cover;
}
.staff__miembros p {
  width: 100%;
  align-items: center;
  text-align: center;
}

body {
  background-color: #F2EAD0;
}

h1 {
  color: #D9AB73;
  background-color: #327373;
  font-family: "Cinzel";
  font-weight: 700;
  margin: 2vh 0%;
}

h2 {
  font-family: "Cinzel";
  font-weight: bold;
  margin: 10vh;
}

h3, h4 {
  color: #123B40;
  margin: 1vh;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-family: "Cinzel";
  font-size: small;
  color: #878787;
}

/*# sourceMappingURL=style.css.map */
