@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import 'base/variables';
@import 'base/mapas';
@import 'components/header';
@import 'components/footer';
@import 'components/home';
@import 'components/productos';
@import 'components/servicios';
@import 'components/contacto';
@import 'components/somos';




body {
    background-color:$background-color;
}

h1 {
    color: #D9AB73 ; 
    background-color:#327373; 
    font-family: 'Cinzel';
    font-weight: 700;
    margin: 2vh 0%;
}

h2 { font-family: 'Cinzel'; 
    font-weight: bold;
    margin: 10vh;
}

h3, h4{
    color: #123B40;
    margin: 1vh;
}

a {
    color: black;
    text-decoration: none;
}

p {font-family: 'Cinzel'; font-size: small; color: $paragraph-color; }

