
.datos__de__contacto {

    height: 35vh;
    p { 
        font-weight: 700;
        width: 300px;
        border: #123B40 solid 2px;
        text-align: end;
        color: #D9AB73 ; 
        background-color:#327373; 
        font-family: 'Cinzel';
        margin: 10px;
    }
}

