
footer {background-color: #123B40;
    color: azure;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    ul {
        li {  padding: 3vh;
            display: inline-block;
            cursor: pointer;
            width: 1vh;

            img {width: 6vh;
                height: 6vh;

            }
        }
    }

    p a {
        @extend %botones;
    }
}
.whatsapp__image {
    width: 10vh;
    position: fixed;
    bottom: 0%;
    right: 2vh;
    z-index: 100;
    
}

.lista, .botones, .whatsapp {
    width: 33%;
}
 
.lista {
    display: flex
}

 .botones__botom {
    display: flex;
    width: 100%;
    justify-content: center;

 }