%botones{
        color: #123B40 ;
        background-color: #81DEAB;
        border: #D9AB73 solid 5px;
        border-radius: 5px;
        align-content: center;
        padding: 10px;
        margin: 15px;
}